</head>
<body class="full">
    <header class="top">
        <img src="https://nados.io/assets/logo.svg" alt="Nados">
        <div id="top">
            <a href="https://nados.io/"><button type="button">Home</button></a>
            <select class="select">
                    <option value="" >Solutions</option>
                    <a href="https://nados.io/solution/recruiter"><option value="1">For Recruiter</option></a>
                    <option value="2">For Student</option>
            </select>
            <a href="https://www.pepcoding.com/trainings" target="_blank"><button type="button">Courses</button></a>
            <a href="https://nados.io/our-team" target="_blank"><button type="button">Our Team</button></a>
            <a href="https://nados.io/contactus" target="_blank"><button type="button">Contact Us</button></a> 
            <a href="https://nados.io/community" target="_blank"><button class="goToCommunity" type="button">Go To Community</button></a>
        </div>
    </header>
    <div class="joinTheBestCodingCommunity">
        <div class="headings">

            <h1>Join The Best Coding <br> Community</h1>
            <h2>Coding has never been so easy, fun and effective as with NADOS</h2>
            <a href="https://nados.io/community" target="_blank"><button type="button" class="signUp">Sign Up</button></a>
            <img class="ppl4" src="Screenshot 2022-04-02 172458.png" alt="">
            <h1 class="ppl4Text">1.5L+ people already registered</h1>
        </div>
        <div class="img">
            <img src="	https://nados.io/assets/landing/mobile_Images.svg" alt="Mobile Images">
        </div>
    </div>
    <div class="mid">
        <h1 style="margin-right: 5vw;">1.5L+</h1> <h1>100K</h1> <h1>100+</h1> <h1>150+</h1> 
    </div>
    <div class="midmid"><p style="margin-left: 2vw ;">Active Users</p>
        <p style="margin-left: 5vw;">Doubts Solved</p>
        <p>Teaching Assistance</p>
        <p>Good Testimonials</p>
    </div>

    <div class="whyNados">
        <H1>Why NADOS?  </H1> <h2> Not A Degree Only Skill</h2>
    </div>
    <div class="bottumMiddle">
        <img src="./img1.png" alt="">
        <h1>Comprehensive content for all your  career ambitions.</h1>
        <h2>Our free and accessible content is built on high-quality study material thoughtfully curated for skill enhancement and career development.</h2>
       <a href="https://nados.io/content" target="_blank"> <button>
            Learn More
        </button></a>
    </div>
    <div class="pplAboutNados">
    
        <h1>
            What people say about NADOS ?
        </h1>
        <h2>
            Not a Degree only skills
        </h2>
    
        <div class="boastings">

            <div class="boasting">  
                <img class="img1" src="https://www.pepcoding.com/data/placements/photo/priya_gupta.jpg" alt="">
                <div>
                    <h1>Hansika Gupta</h1>
                    <h2>Placed at</h2>
                </div>
                <img class="img2" src="https://www.pepcoding.com/data/companies/icon/linkedin.png" alt="">
            </div>

            <div class="boasting">
                <img class="img1" src="https://www.pepcoding.com/data/placements/photo/dilsheen_kaur.jpg" alt="">
                <h1>Dilsheen kaur</h1>
                <h2>Placed at</h2>
                <img class="img2" src="https://www.pepcoding.com/data/companies/icon/walmart.png" alt="">
            </div>

            <div class="boasting">
                <img class="img1" src="https://www.pepcoding.com/data/placements/photo/kashish_singh.jpg" alt="">
                <h1>Kashish singh</h1>
                <h2>Placed at</h2>
                <img class="img2" src="https://www.pepcoding.com/data/companies/icon/adobe.png" alt="">
            </div>

        </div>
    </div>

    <div class="footer">
        
        <div class="socialMedia">
            <img src="	https://nados.io/assets/logo.svg" alt="">
            <div>
            <a href="https://www.facebook.com/pepcoding/" target="_blank"><img src="	https://nados.io/assets/landing/facebook%20icon.svg" alt=""></a>
            <a href="https://www.instagram.com/pepcoding/" target="_blank"><img src="https://nados.io/assets/landing/instagram%20icon.svg" alt=""></a>
            <a href="https://www.linkedin.com/company/pepcoding-education/" target="_blank"><img src="	https://nados.io/assets/landing/linkedin%20icon.svg" alt=""></a>
            <a href="https://twitter.com/pepcoding" target="_blank"><img src="	https://nados.io/assets/landing/twitter%20icon.svg" alt=""></a>
            <a href="https://www.youtube.com/pepcoding" target="_blank"><img src="https://nados.io/assets/landing/youtube%20icon.svg" alt=""></a>
            </div>
        </div>

        <h3> <br><br> © All rights reserved to Sunmeet Singh. </h3>
    </div>
</body>
</html>